@import url("./variables.css");
@import url("./reset.css");

html,
body {
  width: 100%;
  height: 100%;
  font-family: var(--font-family);
}

h1,
h2 {
  display: block;
  text-align: center;
}

ul.links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
}

ul.links li {
  flex: 1 1 auto;
  text-align: center;
  min-width: 100px;
}

ul.links li .name {
  display: block;
}

ul.technologies {
  clear: both;
}

ul.technologies::before {
  content: "Technologies:";
  clear: both;
  display: block;
  font-style: italic;
}

ul.technologies::after {
  content: "";
  clear: both;
  display: block;
}

ul.technologies li {
  float: left;
  background-color: var(--highlight-color);
  border-radius: 5px;
  font-size: 0.707em;
  margin: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

ul.technologies li i.mdi {
  color: rgb(255, 255, 255);
  margin: 0 5px;
}

ul.technologies li .tag {
  color: rgb(255, 255, 255);
  background-color: var(--fg-color);
  padding: 5px;
  border-radius: 5px;
}

h3,
p,
ul.technologies,
.posts h4,
.posts h5,
.posts h6,
.posts blockquote,
.published {
  /* use config.brand.sizes.verticalPadding */
  margin-top: 1em;
}

hr {
  max-width: 50%;
  display: block;
  text-align: center;
  margin: 1em auto;
}

/* Small screens */
@media screen and (max-width: 768px) {
  /* Golden Ratio */
  h1 {
    font-size: 2.618em;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1.618em;
  }
}

/* Large screens */
@media screen and (min-width: 769px) {
  /* Golden Ratio */
  h1 {
    font-size: 4.236em;
  }
  h2 {
    font-size: 2.618em;
  }
  h3 {
    font-size: 1.618em;
  }

  h4,
  h5,
  h6 {
    font-size: 1.3em;
  }
}

.posts img {
  max-width: 100%;
}

.posts blockquote {
  background-color: var(--bg-color-alternate);
  color: var(--fg-color);
  padding: 0.01em 2em 1em 2em;
}

.posts a:link,
.posts a:hover,
.posts a:visited,
.posts a:active {
  text-decoration: underline;
}

pre,
.code {
  font-family: var(--font-family-mono);
}

.published {
  font-style: italic;
  font-size: 0.707em;
}
