@import url("./variables.css");

h1,
h2 {
  display: block;
  text-align: center;
}

h3,
p,
.posts h4,
.posts h5,
.posts h6,
.posts blockquote {
  /* use config.brand.sizes.verticalPadding */
  margin-top: 1em;
}

/* Small screens */
@media screen and (max-width: 768px) {
  /* Golden Ratio */
  h1 {
    font-size: 2.618em;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1.618em;
  }
}

/* Large screens */
@media screen and (min-width: 769px) {
  /* Golden Ratio */
  h1 {
    font-size: 4.236em;
  }
  h2 {
    font-size: 2.618em;
  }
  h3 {
    font-size: 1.618em;
  }

  h4,
  h5,
  h6 {
    font-size: 1.3em;
  }
}

.posts img {
  max-width: 100%;
}

.posts blockquote {
  background-color: var(--bg-color-alternate);
  color: var(--fg-color);
  padding: 0.01em 2em 1em 2em;
}

.posts a:link,
.posts a:hover,
.posts a:visited,
.posts a:active {
  text-decoration: underline;
}

pre,
.code {
  font-family: var(--font-family-mono);
}
