:root {
  --font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  --font-family-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;

  --fg-color: rgb(50, 50, 50);
  --highlight-color: rgb(180, 20, 20);
  --bg-color-alternate: rgba(220, 220, 220, 0.9);
}
