/* Reset */
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  color: rgb(50, 50, 50);
}

html, body {
  width: 100%;
  height: 100%;
}

#target, .wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#target {
  z-index: -1;
}

.wrapper {
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.content {
  background-color : rgba(255, 255, 255, 0.9);
  border: 3px double rgba(100, 100, 100, 0.9);
  box-shadow: 0 5px 10px 2px rgba(100, 100, 100, 0.2);
  font-family: 'Open Sans', sans-serif;
  flex: 0 0 auto;
  margin: 0 auto 10px auto;
}

h1, h2, h3, h4, h5, h6, .tagline {
  font-family: 'Raleway', sans-serif;
}

h1, h2, .tagline {
  display: block;
  text-align: center;
}

ul.links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
}

ul.links li {
  flex: 1 1 auto;
  text-align: center;
  min-width: 100px;
}

ul.links li .name {
  display: block;
}

ul.about {
  margin-left: 25px;
}

ul.about li {
  list-style-type: disc;
}

ul.technologies {
  clear: both;
}

ul.technologies::before {
  content: "Technologies:";
  clear: both;
  display: block;
  font-style: italic;
}

ul.technologies::after {
  content: "";
  clear: both;
  display: block;
}

ul.technologies li {
  float: left;
  background-color: rgb(180, 20, 20);
  border-radius: 5px;
  font-size: 0.707em;
  margin: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

ul.technologies li i.mdi {
  color: rgb(255, 255, 255);
  margin: 0 5px;
}

ul.technologies li .tag {
  color: rgb(255, 255, 255);
  background-color: rgb(50, 50, 50);
  padding: 5px;
  border-radius: 5px;
}

h3, p, ul.about li, ul.technologies, hr {
  margin-top: 1em;
}

/* Small screens */
@media screen and (max-width: 768px) {
  .content {
      padding: 40px;
  }

  .wrapper {
      padding: 10%;
  }

  /* Golden Ratio */
  h1 { font-size: 2.618em; }
  h2, h3, h4, h5, h6 { font-size: 1.618em; }
}

/* Small screens */
@media screen and (min-width: 769px) {
  .content {
      box-sizing: border-box;
      width: 70%;
      max-width: 800px;
      padding: 75px;
  }

  .wrapper {
      padding: 5%;
  }

  /* Golden Ratio */
  h1 { font-size: 4.236em; }
  h2 { font-size: 2.618em; }
  h3{ font-size: 1.618em; }

  h4, h5, h6 { font-size: 1.3em; }
}

.posts img {
  max-width: 100%;
}

.posts h4, .posts h5, .posts h6 {
  margin-top: 1em;
}

.posts blockquote {
  background-color: rgba(220, 220, 220, 0.9);
  color: rgb(50, 50, 50);
  padding: 0.01em 2em 1em 2em;
  margin-top: 1em;
}

.posts a:link, .posts a:hover, .posts a:visited, .posts a:active  {
  text-decoration: underline;
}
